<head th:fragment="head(title)">
  <link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}">
  <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}">
  <link type="text/css" rel="stylesheet" th:href="@{/css/components.css}">
  <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/materialize.js}"></script>
  <script type="text/javascript" th:src="@{/js/components.js}"></script>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>

<header th:fragment="header">
  <ul id="dropdown1" class="dropdown-content">
    <li ><a th:href="@{/books}">Todos</a></li>
    <li th:each="genre, iStat : ${genres}"><a th:text="${genre?.name}" th:href="@{/books/{page}(page=${genre.id})}"></a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Biblioteca</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Gêneros<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/" >Home</a></li>
        <li><a  sec:authorize="isAuthenticated()" >Empréstimos</a></li>
        <li><a  sec:authorize="!isAuthenticated()" href="/login">Login</a></li>
        <li><a onclick="document.querySelector('#form-login').submit()" sec:authorize="isAuthenticated()" href="#">Logout</a></li>
        <form id="form-login" th:action="@{/logout}" method="post"></form>
      </ul>
    </div>
  </nav>
</header>

<footer th:fragment="footer" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
