<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{components/base :: head('Home')}"></head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/home.css}">
    <body>
        <header th:replace="~{components/base :: header}"></header>

        <main>
            <div class="parallax-container">
                <div class="parallax"><img th:src="@{/image/home2.jpg}"></div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h2 class="header">Bibliteca</h2>
                    <p class="text">Lorem Ipsum is simply dummy text of
                        the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img th:src="@{/image/home1.jpg}"></div>
            </div>
        </main>

        <footer th:replace="~{components/base :: footer}"></footer>
    </body>
</html>